body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Victor Mono', monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selectedLoginLabel{
  transition: 0.3s;
  background-color: grey;
  padding: 10px;
  color: white;
  border-radius: 1rem;
}


.navbar-link{
  text-decoration: none !important;
  color: black;
}
.navbar-link:hover{
  text-decoration: underline !important;
}
